@media only screen and (min-width:400px) {

}
@media only screen and (min-width:550px) {
  .header {
    .nav-link {
      float: right;
      margin-top: 0;
      a {
        margin-left: 20px;
        margin-right: 0;
      }
    }
  }
}
@media only screen and (min-width:750px) {

}
@media only screen and (min-width:1000px) {

}
@media only screen and (min-width:1200px) {

}
@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {

}
