.form {
  .form-control {
    margin-bottom: 30px;
    border-top: none;
    border-right: 0;
    border-left: 0;
    border-radius: 0;
    border-color: #ccc;
    background-color: transparent;
  }
}
input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="text"]:focus, input[type="tel"]:focus, input[type="url"]:focus, input[type="password"]:focus, textarea:focus, select:focus {
  margin-bottom: 30px;
  border-top: none;
  border-right: 0;
  border-left: 0;
  border-radius: 0;
  border-color: #ccc;
}
