.clear:before, .clear:after {
  content: ' ';
  display: table; }

.clear {
  *zoom: 1; }
  .clear:after {
    clear: both; }

* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

html {
  font-size: 62.5%; }

a {
  color: black;
  text-decoration: none; }

a:hover {
  text-decoration: none;
  color: #888; }

.active {
  font-weight: bold; }

.text-white {
  color: #fff; }

.text-black {
  color: #000; }

.text-grey {
  color: #ccc; }

.text-u-c {
  text-transform: uppercase; }

.text-l-t {
  text-decoration: line-through; }

.text-u-l {
  text-decoration: underline; }

.text-3x {
  font-size: 3em; }

.text-2x {
  font-size: 2em; }

.text-lg {
  font-size: 20px; }

.text-md {
  font-size: 19px; }

.text-base {
  font-size: 16px; }

.text-sm {
  font-size: 15px; }

.text-xs {
  font-size: 14px; }

.text-xxs {
  text-indent: -9999px; }

.text-xxxs {
  font-size: 0.5em; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-justify {
  text-align: justify; }

.l-h {
  line-height: 1.42857143; }

.l-h-0x {
  line-height: 0; }

.l-h-1x {
  line-height: 1.2; }

.l-h-2x {
  line-height: 2em; }

.l-s-1x {
  letter-spacing: 1px; }

.l-s-2x {
  letter-spacing: 2px; }

.l-s-3x {
  letter-spacing: 3px; }

.font-normal {
  font-weight: normal; }

.font-thin {
  font-weight: 300; }

.font-bold {
  font-weight: 600; }

.font-bolder {
  font-weight: 700; }

.no-line {
  border-width: 0; }

.border-eee {
  border: 1px solid #c9d0e1; }

.no-border,
.no-borders {
  border-color: transparent;
  border-width: 0 !important; }

.no-border-right {
  border-right: 0; }

.no-border-left {
  border-left: 0; }

.no-border-top {
  border-top: 0; }

.one-radius {
  border-radius: 1px; }

.no-radius {
  border-radius: 0; }

.block {
  display: block !important; }

.block.hide {
  display: none; }

.inline {
  display: inline-block !important; }

.none {
  display: none; }

.pull-none {
  float: none; }

.greencolor {
  color: #1b9aa9; }

.rounded {
  border-radius: 500px; }

.clear {
  display: block;
  overflow: hidden; }

.no-bg {
  background-color: transparent;
  color: inherit; }

.bg-white {
  background-color: white; }

.bg-blue {
  background-color: #F7F9FA; }

.bg-ash {
  background-color: #EEE; }

.pos-rlt {
  position: relative; }

.pos-stc {
  position: static !important; }

.pos-abt {
  position: absolute; }

.pos-fix {
  position: fixed; }

.show {
  visibility: visible; }

.line {
  width: 100%;
  height: 2px;
  margin: 10px 0;
  font-size: 0;
  overflow: hidden; }

.line-xs {
  margin: 0; }

.line-lg {
  margin-top: 15px;
  margin-bottom: 15px; }

.wrapper-xs {
  padding: 5px; }

.wrapper-sm {
  padding: 10px; }

.wrapper {
  padding: 15px; }

.wrapper-md {
  padding: 20px; }

.wrapper-lg {
  padding: 30px; }

.wrapper-xl {
  padding: 50px; }

.padder-lg {
  padding-left: 30px;
  padding-right: 30px; }

.padder-xl {
  padding-left: 40px;
  padding-right: 40px; }

.padder-xxl {
  padding-left: 50px;
  padding-right: 50px; }

.padder-md {
  padding-left: 20px;
  padding-right: 20px; }

.padder {
  padding-left: 15px;
  padding-right: 15px; }

.padder-v {
  padding-top: 50px;
  padding-bottom: 50px; }

.padder-v-sm {
  padding-top: 7px;
  padding-bottom: 7px; }

.padder-v-xsm {
  padding-top: 2px;
  padding-bottom: 2px; }

.no-padder {
  padding: 0 !important; }

.p-b {
  padding-bottom: 15px; }

.p-b-md {
  padding-bottom: 20px; }

.p-b-lg {
  padding-bottom: 30px; }

.p-b-xl {
  padding-bottom: 40px; }

.p-b-xxl {
  padding-bottom: 50px; }

.p-t {
  padding-top: 15px; }

.p-t-md {
  padding-top: 20px; }

.p-t-lg {
  padding-top: 30px; }

.p-t-xl {
  padding-top: 40px; }

.p-t-xxl {
  padding-top: 50px; }

.font-danger {
  color: red; }

.m-xxs {
  margin: 2px 4px; }

.m-xs {
  margin: 5px; }

.m-sm {
  margin: 10px; }

.m {
  margin: 15px; }

.m-md {
  margin: 20px; }

.m-lg {
  margin: 30px; }

.m-xl {
  margin: 50px; }

.m-n {
  margin: 0 !important; }

.m-l-none {
  margin-left: 0 !important; }

.m-l-xs {
  margin-left: 5px; }

.m-l-sm {
  margin-left: 10px; }

.m-l {
  margin-left: 15px; }

.m-l-mobile {
  margin-left: 15px !important; }

.m-l-md {
  margin-left: 20px; }

.m-l-lg {
  margin-left: 30px; }

.m-l-xl {
  margin-left: 40px; }

.m-l-xxl {
  margin-left: 50px; }

.m-l-n-xxs {
  margin-left: -1px; }

.m-l-n-xs {
  margin-left: -5px; }

.m-l-n-sm {
  margin-left: -10px; }

.m-l-n {
  margin-left: -15px; }

.m-l-n-md {
  margin-left: -20px; }

.m-l-n-lg {
  margin-left: -30px; }

.m-l-n-xl {
  margin-left: -40px; }

.m-l-n-xxl {
  margin-left: -50px; }

.m-t-none {
  margin-top: 0 !important; }

.m-t-xxs {
  margin-top: 2px; }

.m-t-xs {
  margin-top: 5px; }

.m-t-sm {
  margin-top: 10px; }

.m-t {
  margin-top: 15px; }

.m-t-md {
  margin-top: 20px; }

.m-t-lg {
  margin-top: 30px; }

.m-t-xl {
  margin-top: 40px; }

.m-t-xxl {
  margin-top: 50px; }

.m-t-bg {
  margin-top: 100px; }

.m-t-n-xxs {
  margin-top: -1px; }

.m-t-n-xs {
  margin-top: -5px; }

.m-t-n-sm {
  margin-top: -10px; }

.m-t-n {
  margin-top: -15px; }

.m-t-n-md {
  margin-top: -20px; }

.m-t-n-lg {
  margin-top: -30px; }

.m-t-n-xl {
  margin-top: -40px; }

.m-t-n-xxl {
  margin-top: -50px; }

.m-r-none {
  margin-right: 0 !important; }

.m-r-xxs {
  margin-right: 1px; }

.m-r-xs {
  margin-right: 5px; }

.m-r-sm {
  margin-right: 10px; }

.m-r {
  margin-right: 15px; }

.m-r-n {
  margin-right: -15px; }

.m-r-md {
  margin-right: 20px; }

.m-r-lg {
  margin-right: 30px; }

.m-r-xl {
  margin-right: 40px; }

.m-r-xxl {
  margin-right: 50px; }

.m-r-n-xxs {
  margin-right: -1px; }

.m-r-n-xs {
  margin-right: -5px; }

.m-r-n-sm {
  margin-right: -10px; }

.m-r-n {
  margin-right: -15px; }

.m-r-n-md {
  margin-right: -20px; }

.m-r-n-lg {
  margin-right: -30px; }

.m-r-n-xl {
  margin-right: -40px; }

.m-r-n-xxl {
  margin-right: -50px; }

.m-b-none {
  margin-bottom: 0 !important; }

.m-b-xxs {
  margin-bottom: 1px; }

.m-b-xs {
  margin-bottom: 5px; }

.m-b-sm {
  margin-bottom: 10px; }

.m-b {
  margin-bottom: 15px; }

.m-b-md {
  margin-bottom: 20px; }

.m-b-lg {
  margin-bottom: 30px; }

.m-b-xl {
  margin-bottom: 40px; }

.m-b-xxl {
  margin-bottom: 50px; }

.m-b-n-xxs {
  margin-bottom: -1px; }

.m-b-n-xs {
  margin-bottom: -5px; }

.m-b-n-sm {
  margin-bottom: -10px; }

.m-b-n {
  margin-bottom: -15px; }

.m-b-n-md {
  margin-bottom: -20px; }

.m-b-n-lg {
  margin-bottom: -30px; }

.m-b-n-xl {
  margin-bottom: -40px; }

.m-b-n-xxl {
  margin-bottom: -50px; }

.p-l-none {
  padding-left: 0 !important; }

.p-r-none {
  padding-right: 0 !important; }

.p-big {
  padding: 0 60px; }

.p-huge {
  padding: 0 80px; }

.w-1x {
  width: 1em; }

.w-2x {
  width: 2em; }

.w-3x {
  width: 3em; }

.w-xxs {
  width: 60px; }

.w-xs {
  width: 90px; }

.w-sm {
  width: 150px; }

.w {
  width: 200px; }

.w-md {
  width: 240px; }

.w-lg {
  width: 280px; }

.w-xl {
  width: 320px; }

.w-xxl {
  width: 360px; }

.w-access {
  width: 420px; }

.w-mid {
  width: 500px; }

.w-full {
  width: 100%; }

.w-auto {
  width: auto; }

.h-auto {
  height: auto; }

.h-full {
  height: 100%; }

/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block; }

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none; }

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

.header {
  padding: 40px 0; }
  .header a {
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
    letter-spacing: 2px; }
    .header a:hover {
      color: #888; }
  .header .nav-logo {
    font-weight: bold; }
  .header .nav-link {
    margin-top: 20px; }
    .header .nav-link a {
      margin-right: 20px; }

.borderline {
  border: 1px solid #eee; }

.tracks .list {
  margin: 15px 0; }
  .tracks .list .title {
    font-weight: bold;
    font-size: 1.7em;
    margin-bottom: 0; }
  .tracks .list .sub-title {
    color: #777; }
  .tracks .list a {
    float: right;
    font-weight: bold; }

.new-track .form button {
  border: none; }

.new-track .nav p {
  font-weight: bold; }

.new-track .nav a {
  margin-left: 10px;
  color: #000; }

.new-track-active {
  color: #000;
  font-weight: bold; }

.add-track i {
  margin-right: 10px; }

.questions i {
  margin-right: 10px; }

.new-question .nav p {
  font-weight: bold; }

.new-question .nav a {
  margin-left: 10px;
  color: #000; }

.another-answer i {
  margin-right: 10px; }

.form .form-control {
  margin-bottom: 30px;
  border-top: none;
  border-right: 0;
  border-left: 0;
  border-radius: 0;
  border-color: #ccc;
  background-color: transparent; }

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  margin-bottom: 30px;
  border-top: none;
  border-right: 0;
  border-left: 0;
  border-radius: 0;
  border-color: #ccc; }

@font-face {
  font-family: 'Font-Name';
  src: url("../fonts/font-name.eot");
  src: url("../fonts/font-name.eot?#iefix") format("embedded-opentype"), url("../fonts/font-name.woff") format("woff"), url("../fonts/font-name.ttf") format("truetype"), url("../fonts/font-name.svg#font-name") format("svg");
  font-weight: normal;
  font-style: normal; }

@media only screen and (min-width: 550px) {
  .header .nav-link {
    float: right;
    margin-top: 0; }
    .header .nav-link a {
      margin-left: 20px;
      margin-right: 0; } }
