//----------------------------------*\
// CONFIG MODULES
//----------------------------------*/

// Config modules
@import 'modules/_vars.scss';
@import 'modules/_clearfix.scss';
@import 'modules/_defaults.scss';
@import 'modules/_normalize.scss';
//----------------------------------*\
// PARTIALS
//----------------------------------*/

@import 'partials/_header.scss';
@import 'partials/_main.scss';
@import 'partials/_footer.scss';

//----------------------------------*\
// OBJECTS & MODULES
//----------------------------------*/
@import 'modules/_buttons.scss';
@import 'modules/_inputs.scss';
@import 'modules/_typography.scss';

// Enhancement modules
@import 'modules/_breakpoints.scss';

//----------------------------------*\
// VENDOR
//----------------------------------*/

@import 'vendor/_external.scss';
